.text, .password, .button {
  height: 40px;
  padding-left: 10px;
  border-radius: 7px;
}

.text, .password {
  border: 1px solid #c5c5c5;
}

.button {
  background-color: #00a82d;
  border: transparent;
  color: #FFFFFF;
  transition: .2s all ease-in;
}

.button:hover {
  cursor: pointer;
  background-color: #008824;
}