.homeArticle {
  width: 100%;
  max-width: 976px;
  gap: 3em;
}

.homeArticle, .homeSection1, .homeSection2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeSection1, .homeSection2 {
  gap: .8em;
}

.homeTitle {
  font-size: 36px;
  font-weight: 700;
  max-width: 976px;
}

.homeDescription {
  font-size: 20px;
  line-height: 32px;
}

.btnRegister {
  width: 100%;
  max-width: 408px;
  height: 74px;
  font-size: 14px;
  border: 0;
  border-radius: 3px;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  background-color: #00a82d;
  padding: 0 80px;
  transition: .2s all ease-in;
}

.btnRegister:hover {
  cursor: pointer;
  background-color: #00d138;
}

.linkLogin {
  font-size: 18px;
  text-decoration: underline;
  transition: .2s color ease-in;
}

.linkLogin:hover {
  cursor: pointer;
  color: #00d138;
}

@media screen and (min-width: 960px) {
  .homeTitle {
    font-size: 56px;
  }

  .homeDescription {
    font-size: 24px;
    line-height: 40px;
  }
}

